---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Base title="Blog">
  <h1 class="text-3xl font-bold mb-6">Blog</h1>

  <ul class="space-y-4">
    {
      posts.map((post) => (
        <li>
          <a
            class="text-lg text-blue-700 hover:underline"
            href={`/posts/${post.slug}/`}
          >
            {post.data.title}
          </a>
          <p class="text-sm text-zinc-500">
            {post.data.date.toLocaleDateString()} — {post.data.description}
          </p>
        </li>
      ))
    }
  </ul>
</Base>
