--- --- <h1>Contact</h1> <form name="contact" method="POST" data-netlify="true" 
netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="contact" /> <p hidden>
    <label>Leave this blank: <input name="bot-field" /></label>
  </p> <p><label>Name <input type="text" name="name" required /></label></p> <p><label>Email <input 
  type="email" name="email" required /></label></p> <p><label>Message <textarea name="message" 
  required></textarea></label></p> <button type="submit">Send</button>
</form>
